---
import { Image } from "astro:assets";

import Global from "../layouts/Global.astro";
import Fondo from "../backgrounds/BackAbout.astro";
import "../styles/aboutUsStyles.css"

import TeamMember from "../interfaces/teamMember.astro";
import { getImageMedia } from "../helpers/socialMedia.astro";

import PhotoPaula from "../../public/team/PhotoPaula.jpg";
import PhotoDaniel from "../../public/team/PhotoDaniel.jpg";
import PhotoDylan from "../../public/team/PhotoDylan.jpg";
import PhotoSebastian from "../../public/team/PhotoSebastian.jpg";

const team: TeamMember[] = [
    {
        name: "Paula Guzmán",
        role: "UX/UI & Frontend Dev",
        image: PhotoPaula,
        socialMedia: [
            {
                name: "GITHUB",
                link: "https://github.com/Paula2208",
            },
            {
                name: "LINKEDIN",
                link: "https://www.linkedin.com/in/paula-guzman-2208/",
            },
        ],
    },
    {
        name: "Daniel Osuna",
        role: "BD Architect & Frontend Dev",
        image: PhotoDaniel,
        socialMedia: [
            {
                name: "GITHUB",
                link: "https://github.com/dgosunar",
            },
            {
                name: "LINKEDIN",
                link: "https://www.linkedin.com/in/daniel-osuna-r/",
            },
        ],
    },
    {
        name: "Dylan Rivero",
        role: "DevOps BD & Backend Dev",
        image: PhotoDylan,
        socialMedia: [
            {
                name: "GITHUB",
                link: "https://github.com/XdmriveroeX",
            },
            {
                name: "LINKEDIN",
                link: "https://www.linkedin.com/in/dylan-rivero-67b8261a7/",
            },
        ],
    },
    {
        name: "Sebastian Escandón",
        role: "QA & Backend Dev",
        image: PhotoSebastian,
        socialMedia: [
            {
                name: "GITHUB",
                link: "https://github.com/sescandon",
            },
            {
                name: "LINKEDIN",
                link: "https://www.linkedin.com/in/sescandon23/",
            },
        ],
    },
];
---

<Global route="/aboutUs">
    <div class="product">
        <div class="primaryTitle_Primary">¿Quienes Somos?</div>
        <div class="generalText presentation">
            Somos una startup que desarrolla aplicaciones para mejorar los
            principales aspectos de la vida de los usuarios. Nuestro enfoque es
            ayudar a las personas a tener más confianza con sus finanzas,
            tareas, hábitos y más.
        </div>
        <div class="primaryTitle_Secondary">Conoce a nuestro equipo</div>
        <div class="mosaic">
            {
                team.map((member) => (
                    <div class="card">
                        <div class="photo">
                            <img src={member.image?.src} alt={member.name}/>
                        </div>
                        <div class="description">
                            <div class="name">{member.name}</div>
                            <div class="role">{member.role}</div>
                            <div class="socialMediaContainer">
                                {member.socialMedia.map((s) => (
                                    <div class="icono">
                                        <a href={s.link} target="_blank">
                                            <img src={getImageMedia(
                                                    s.name,
                                                    "dark",
                                                )
                                            } alt={s.name}/>
                                        </a>
                                    </div>
                                ))}
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
    <Fondo />
</Global>